#about {
  background: url(../../assets/images/grain.svg);
}

.social-link {
  padding: 0.25rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--dark);
}

.social-link:hover {
  color: var(--light);
  background: var(--primary);
  border: 1px solid var(--primary);
  box-shadow: 4px 4px 0 var(--secondary);
}

.site-button {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.site-button:hover {
  scale: 1.25;
  border: 1px solid var(--dark);
}