#about {
  background: url(../../assets/images/grain.svg);
}

.social-link {
  padding: 0.25rem 1rem;
  color: var(--light);
  background: var(--dark);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: box-shadow 0.2s linear;
}

.social-link:hover {
  background: var(--accent);
  box-shadow: 4px 4px 0 var(--primary);
}

.site-button {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.site-button:hover {
  scale: 1.1;
  border: 1px solid var(--dark);
  box-shadow: 4px 4px 0 var(--dark);
}