/*!@nkb "domain":"lucksiyo.xyz","rss":"","overflow":false,"readonly":false */

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
  background: url(https://lucksiyo.nekoweb.org/lucksiyo.xyz/resources/grain.svg), #40798C;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: start;
  transition: all 0.5s ease-in-out;
}

.site-box:hover {
  scale: 105%;
}

/* preview image */
.site-box .sitefeature {
  display: none;
}

/* domain */
.site-box > a > p {
  color: white;
  font-size: 2.25rem;
  text-transform: uppercase;
  text-shadow: 0 0 8px #0B2027;
  z-index: 10;
}

/* + icon */
.site-box .follow {
  display: none;
}

/* site title */
.site-box > a > span {
  display: none;
}

.site-box::after {
  position: absolute;
  content: url(https://lucksiyo.nekoweb.org/lucksiyo.xyz/resources/icon.png);
  bottom: 2.5rem;
  right: 1rem;
  height: 11rem;
  width: 7rem;
  scale: 20%;
  transition: all 0.3s ease-out;
}

.site-box:hover::after {
  rotate: 2.5deg;
}

/* Style for your post box (must start with ".post-box") */
.post-box {
  color: #0B2027;
  background: url(https://lucksiyo.nekoweb.org/lucksiyo.xyz/resources/grain.svg), #F6F1D1;
  font-family: monospace;
  border: 1px solid #0B2027;
  border-radius: 0;
}

.post-box .post-title {
  margin-top: 1rem;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.25rem;
  font-style: normal;
}